*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#wraper{
  width: 1180px;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 12px;
}

h1{
  text-align: center;
}

nav{
  /* degrader */
background-color: #444;
border-radius: 50px;
}


.prinsipal{
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.prinsipal a{
  color: #ffff;

}

.sous-menu{
  display: none;

}

li:hover .sous-menu{
  display: block;
  width: 550px;
}

 .group{

}

.ligne-group{
  display: inline-block;
  width: 48%;
  text-align: center;
}

.sous-menu{
background-color: #139c19;
}




/*______________________________________*/

.vert1{
  color: #139c19;
}
