*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.25em ;
}

:root{
  /*avec le  selecteur :root  declaration de varibe aplicabe sur toute la page
  cela permet une grand mintenabiliter dans le temps et fasilite les modification*/
  --lageurPetitEcrant :320px;
  --hauteurPourPetiEcrant:480px;

  --lageurMoyenEcrant:740px;
  --hauteurPourMoyenEcrant:1024px;

  --lageurGrandEcrant:100%;
  --hauteurPourGrandEcrant:685px;

  /* main grille  base 12/12 */
  --col1:calc(((100% / 12) * 12 ) - 1em);
  --col2:calc(((100% / 12) * 6 ) - 1em);
  --col3:calc(((100% / 12) * 4 ) - 1em);
  --col4:calc(((100% / 12) * 3 ) - 1em);

  /* couleur */
  --couleurFontMenu: hsl(163, 27.7% , 32%);
  --couleurItemeMenu:#fff;
  --couleurLireSuite:#549ff3;
  --couleurFondFormulaire:rgba(250,250,250,0.5);
  --couleurTexteFormulaire:#669;
  --couleurFondFooter:#ff7fcf;
  --coulerFontLienFooter:rgba(120,120,110,0.2);
  --coulerFondTextFooter:#ededed;

  /*pour les degrader Bouton Envoyer et Reset valeur? #b9bbde  #669 */
  --degraderBoutonMove:linear-gradient(0deg,#b9bbde,#669);
  --degraderBoutonGris:linear-gradient(0deg,#669,#b9bbde);

  /*pour les roll-overs */
  --survoleMenuFermer:#ff7fcf;
  --suvoleItemeMenu:#f44336;
  --survoleLireSuite:#f00;

  --survoleDegaderBouton:linear-gradient(0deg, #666, #444);

  /*gestion des bordures couleur taylle arondie et forme */



  /*___________________fin_____________________*/

}
/*######################################################*/
/*---------------Mise en page Mobile ferste-------------*/
/*---------------------PEtit Ecrant---------------------*/
/*######################################################*/

#wrapper{
  display: block;
  margin: 0 auto;
  width: var(--lageurPetitEcrant);
}

header{
  display: flex;
  width: 100%;
  height: var(--hauteurPourPetiEcrant);
  background : url("../img/bkg.jpg") top center/cover no-repeat ;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.boxtitre{
  margin-left: 1em;
}

/*-------------------------MENU-------------------------*/
.navbarre{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-navigation{
  cursor: pointer;
}

.btn-navigation:active{
  cursor: pointer;
}

 .barre{
 transform: rotate(180deg) translateX(40px);
  cursor: pointer;
  display: block;
}

 .barre:active{
 transform: rotate(0deg) translateX( -40px) ;

}

.navigation:target{

}

.navigation{
cursor: pointer;
transform:translateY(-20px);
/* display: none; */
}

.navigation:active{
 cursor: pointer;
/* transform: translateY(-10%)translateX(-10%); */
}


.navigation ul{
  width: 200px;
  background-color: var(--couleurFontMenu);
}



/*----------------------------------------------------------------------------*/

.item{
  color: var(--couleurItemeMenu);
  background-color: var(--couleurFontMenu);
  display: flex;
  padding: 9%;
  /* justify-content: center; */
}

.item:hover{
  color: var(--suvoleItemeMenu);
}
/*-------------------------MENU FIN---------------------*/

/*----------------------Aficher la Suite des Textes-------------------------*/


.suite{
  color: var(--couleurLireSuite);
  visibility: visible;
}

.cacher{
visibility: hidden;
height: 20px;
}

.cacher:hover{
visibility: visible;
height: 100%;
}

/*----------------------------A F S T fin ------------------------------------*/
.colImag{
  display: inline-block;
  width: 100%;
}

footer{
  display: flex;
  width: 100%;
  background:var(--couleurFondFooter)
}

form{
  margin: 0 auto;
  width: 100%;

}

.imageform{
  display: flex;
  margin: 0 auto ;
  background : url("../img/bkg-form.jpg") top center/cover no-repeat ;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

fieldset{
  display: flex;
  width: calc(  (100% / 12) * 10)  ;
  margin: 10% auto;
  flex-direction: column;
  color:var(--couleurTexteFormulaire);
}

.boxtitreform{
  width: 100%;
  padding: 0.5em;
}


.boxtexteform{
  display: flex;
  flex-wrap: wrap;
  width: var(--col1);
  /* margin: 0px; */
  justify-content: center;

}

.cc{
  display: flex;
  flex-direction: column;
  width: var(--col2);
  margin: 0px;


}

.textformulaire, input#nom ,input#email , input#tel, textarea#message{
display: flex;

flex-wrap: wrap;
width: var(--col1);
margin :0.5em;
padding: 0.5em;

justify-content:space-between ;
}

.boxbouton {
  margin: 20px auto;
   display:flex;
  width:var(--col1);
  justify-content: center;
}

.bouton, .bouton2 {
  width: var(--col4);
  color:var(--couleurItemeMenu);
  background:var(--degraderBoutonMove);
  border-radius: 10% /50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.bouton2{
  background:var(--degraderBoutonGris);
}

.selction{
  display: inline-flex;
  width: 100%;
  background:var(--couleurFondFooter);
  margin: 20% auto 0;
  justify-content: space-around;
}

.check-1 , .check-2 , .check-3 {
  color: var(--coulerFondTextFooter)
}

/*######################################################*/
/*----------------Ecrant Moyent  Tablett----------------*/
/*######################################################*/

@media screen and   (min-width: 740px)  {
  /*
  prorotion de la grille main
  L 1: 12/12
  L 2: 6/12
  L 3: 4/12
  L 3: 4/12
  */
  #wrapper{
    display: flex;
    width: var(--lageurMoyenEcrant);
    justify-content: space-between;
    flex-flow: row wrap;
  }
  header{
    display: flex;
    width: 100%;
    height: var(--hauteurPourMoyenEcrant);
    background : url("../img/bkg.jpg") top center/cover no-repeat ;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ar-1{
    width: var(--col1) ;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .ar-2 , .ar-3{
    width: var(--col2);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .ar-4 , .ar-5 , .ar-6 , .ar-7 , .ar-8 , .ar-9 {
    width:var(--col3) ;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

/*######################################################*/
/*----------------------Gand Ecant----------------------*/
/*######################################################*/

@media screen and  (min-width: 1200px)  {
  /*
  prorotion de la grille main
  L 1: 6/12
  L 3: 4/12
  L 3: 3/12
  */
  #wrapper{
    display: flex;
    width: var(--lageurGrandEcrant);
    justify-content: space-between;
    flex-flow: row wrap;
  }
  header{
    display: flex;
    width: 100%;
    height: var(--hauteurPourMoyenEcrant);
    background : url("../img/bkg.jpg") top center/cover no-repeat ;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  main{
    margin: 0 auto;
    display: flex;
    width: calc(  (100% / 12) * 10)  ;
  }
  .ar-1 , .ar-2{
    width: var(--col2);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .ar-3 , .ar-4 , .ar-5{
    width: var(--col3);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .ar-6 , .ar-7 , .ar-8 , .ar-9 {
    width: var(--col4);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
