*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 3vw;
}

/*couleur forme et cataterique  item boutont bordure */
  .item{
    color: #fff;
  }

/*getion des diferante tarsition */

/* afaire  vite et bien */


/*#############################################################################
#                                 grand Ecrant  sans media screen
#
# je vais a bendoner cette mise en page car je constate un probleme dans la manier
# les diferente taille decrant et de text
#  parametre utiliser
pour *{
margin: 0px;
padding: 0px;
box-sizing: border-box;
list-style-type: none;
text-decoration: none;
- font-size: 3vw;
- font-size: 0.5em;

##############################################################################*/

 @media screen and (min-width: 384px){

  #wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }





/* taille des image et supresion des repetion des image de font */

.arierePlanc{
    background-image: url("../img/bkg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .colImag{
    display: inline-flex;
    width: 100%;
  }

.imageform{
  background-image: url("../img/bkg-form.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
/* ___________________fin taille des image_______________________________*/

/*nombre de colone et de ligne proportion 1/6* de header */
header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-column: 1/span 6;
  grid-row: 1/span 2;
}


nav{
  text-align: center;
  background-color:hsl(163, 27.7%, 32%);
  background-image: none;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-column: 5/5;
  grid-row: 2/span 2;
}

nav ul {
  grid-row: 2;
}

.boxtitre{
grid-column: 2;
grid-row: 4;
}


main{
  display: grid;

}

.ligne1{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-column-gap:10px;
}

.ar-1{
  grid-column-start: 2;
}

.ligne2{
  display: grid;
  grid-template-columns:  2fr 3fr 3fr 3fr 2fr;
  grid-column-gap:10px;
}
.ar-3{
  grid-column-start: 2;
}

.ligne3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap:10px;
}

.ar-6{
  grid-column-start: 2;
}

form{

  display: grid;
  grid-template-columns: 1fr 4fr 1fr ;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;

}

fieldset{
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
}

.boxbouton{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-column-gap: 10px;
}

.bouton{
  grid-column-start: 2;
}

.selction{
  background-color: pink;

  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr ;

  background-image: none;
  grid-row-start: 3;
  grid-column : 1/4;
}

.check-1{
  grid-column-start:2;
}

 }


/*____#_____#______#____#_____#______#____#_____#______#____#_____#____#____*/
/*____#_____#______#____#_____#______#____#_____#______#____#_____#____#____*/
